<!-- partials/header.html (trecho atualizado) -->
<section>
  <div class="header-size">
    <header class="justify-content-center">
      <!-- Menu principal (Team Select) -->
      <nav class="main-nav main-container framed" style="height: 120px; width: 50%; padding-top: 25px;">
        <div class="main-nav-title">TEAM SELECT</div>
        <ul class="main-nav-list">
          <li class="main-nav-item"><a class="main-nav-link active" href="/index.html">HOME</a></li>
          <li class="main-nav-item"><a class="main-nav-link" href="/assets/pages/tecnicos.html">TECNICOS</a></li>
          <li class="main-nav-item"><a class="main-nav-link" href="#">PROJETO</a></li>
          <li class="main-nav-item"><a class="main-nav-link" href="#">ACESSOS</a></li>
          <li class="main-nav-item"><a class="main-nav-link" href="#">TELEFÔNICA</a></li>
        </ul>
      </nav>
    </header>
  </div>
</section>