<section class="modules-section">
  <h2 class="cinzel-title arcade">OPERATION MODULES</h2>
  <div class="modules-grid">
    <a href="../assets/pages/ordem/index.html" class="module-card bg-card">
      <h3 class="arcade">SEQUENTIAL ORDERS</h3>
      <p class="arcade">COMPLETE FIELD ORDERS</p>
    </a>
    <a href="../assets/pages/tecnicos/index.html" class="module-card bg-card">
      <h3 class="arcade">TECHNICIANS</h3>
      <p class="arcade">TEAM PERFORMANCE</p>
    </a>
    <a href="../assets/pages/gerenciar-ordens/index.html" class="module-card bg-card">
      <h3 class="arcade">ACTIVE CLIENTS</h3>
      <p class="arcade">VALIDATED CUSTOMERS</p>
    </a>
    <a href="../assets/pages/producao-ordens/index.html" class="module-card bg-card">
      <h3 class="arcade">MANAGE PONS</h3>
      <p class="arcade">IMPORT ORDERS BASE</p>
    </a>
  </div>

</section>

