/* Estilo do rodapé (bottom navigation) */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  background: transparent;
  border-top: 1px solid transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  gap: 4px;
}

.nav-item.active {
  color: #1a73e8;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-profile-size {
  font-size: 10px;
  /* ← ajuste este valor para aumentar/reduzir todo o card */
  position: relative;
  top: 10px;
  left: 37%;
}



@media (min-width: 320px) {
  .nav-footer-size {
    height: 60px;
    width: 100%;
  }
}