/* Extra Small (XS) – smartphones pequenos */
@media (max-width: 480px) { }

/* Small (S) – smartphones maiores */
@media (min-width: 481px) and (max-width: 768px) { }

/* Medium (M) – tablets */
@media (min-width: 769px) and (max-width: 1024px) { }

/* Large (L) – desktops pequenos/médios */
@media (min-width: 1025px) and (max-width: 1440px) { }

/* Extra Large (XL) – desktops grandes (Full HD) */
@media (min-width: 1441px) and (max-width: 1920px) { }

/* Extra Extra Large (XXL) – 2K, QHD, Ultrawide */
@media (min-width: 1921px) and (max-width: 2560px) { }

/* Ultra (4K, 5K, TVs) */
@media (min-width: 2561px) { }