// Variáveis
$primary-color: #4a0072;
$bg-color: #f5f0ff;

// Estilos
body {
  background-color: $bg-color;
  font-family: 'Arial', sans-serif;

  h1 {
    color: $primary-color;
    text-align: center;
  }
}